.body {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
}

.header {
  margin: 93px auto 0 auto;
  display: grid;
  grid-template-columns: 2.5fr 2.1fr 1fr;
  align-items: center;
  max-width: 1340px;
  width: 100%;
}

.header-menu {
  list-style: circle;
  display: flex;
  font-size: 18px;
}

.header-menu-link_active {
  text-decoration: none;
}

.header-links-list-item-no-bullit {
  list-style: none;
}
.header-list-item:not(:first-child) {
  margin-left: 32px;
}

.logo-black {
  width: 148px;
  height: 105px;
}

.address {
  display: block;
  font-style: normal;
  font-size: 18px;
  line-height: 24px;
  max-width: 240px;
  width: 100%;
}

.address-link-list {
  list-style: none;
}

.address-link {
  text-decoration: none;
  border-bottom: 1px solid #000;
}

.cover {
  background-image: url(../images/cover.jpg);
  min-height: 757px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  margin-top: 92px;
}

.cover::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 0;
}

.cover-title {
  text-transform: uppercase;
  padding-top: 165px;
  max-width: 1340px;
  width: 100%;
  font-size: 100px;
  font-style: normal;
  font-weight: 700;
  line-height: 100%;
  color: #fff;
  margin: 0 auto;
  position: relative;
}

.cover-title-aligned-left {
  display: block;
  line-height: 115%;
  letter-spacing: 30px;
}

.cover-title-aligned-center {
  display: block;
  text-align: center;
  letter-spacing: 30px;
  margin: 20px 0 20px 0;
}

.cover-title-aligned-right {
  display: block;
  text-align: right;
}

.title-letter-extra-spacing {
  letter-spacing: 60px;
}

.title-letter-normal-spacing {
  letter-spacing: 30px;
}

.cover-description {
  position: relative;
  width: 100%;
  text-align: end;
  margin-top: 135px;
  text-transform: uppercase;
  color: #fff;
  font-size: 22px;
}

.cover-description-text {
  display: inline;
  word-spacing: 19px;
  font-size: 22px;
  line-height: 28px;
  width: 100%;
  padding-right: 53px;
  font-style: normal;
  font-weight: 400;
}

.cover-description-button {
  color: #fff;
  text-align: end;
  font-size: 22px;
  background-color: transparent;
  border: 1px solid #fff;
  text-transform: uppercase;
  padding: 12px 32px;
  margin-right: 50px;
}

.lots {
  margin: 180px 50px 0 50px;
  flex-grow: 1;
}

.lots-heading {
  padding: 0 0 27px 40px;
  font-size: 40px;
  font-weight: 700;
  text-transform: uppercase;
}

.lots-card-list {
  display: flex;
  list-style: none;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 25px;
  flex-grow: 1;
}

.card-link {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-decoration: none;
  width: 100%;
  height: 100%;
}

.card-description {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.card-title {
  display: block;
  font-size: 22px;
  line-height: 120%;
  text-transform: uppercase;
  text-decoration-line: underline;
  font-weight: 700;
  max-width: 350px;
  width: 100%;
  text-align: start;
  z-index: 2;
  margin: 50px auto 0 auto;
}

.card-text {
  display: block;
  max-width: 350px;
  width: 100%;
  text-align: start;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: normal;
  z-index: 2;
  margin: 0 auto 50px auto;
}

.card-type {
  width: 430px;
  min-height: 450px;
  color: #fff;
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  flex-grow: 1;
  background-size: cover;
}

@media screen and (max-width: 1439px) {
  .card-text {
    margin: 40px 50px;
    max-width: fit-content;
  }
  .card-title {
    margin: 40px 50px;
    max-width: fit-content;
  }
}

.card-type-film {
  background-image: url(../images/card-lot-01.jpg);
}

.card-type-book {
  background-image: url(../images/card-lot-02.jpg);
}

.card-type-picture {
  background-image: url(../images/card-lot-03.jpg);
  background-size: cover;
}

.card-type::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 0;
}

.see-more {
  display: block;
  font-size: 20px;
  padding: 31px 0 0 40px;
}

.about {
  max-width: 1340px;
  width: 100%;
  margin: 181px auto 0 auto;
  display: grid;
  grid-template-columns: 430px auto;
  gap: 25px;
}

.column-logo-white {
  display: flex;
  justify-content: center;
  align-items: start;
}

.bg-logo-white {
  width: 240px;
  height: 240px;
  background-color: #000;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo-white {
  display: block;
  width: 148px;
  height: 114px;
}

.about-column-text {
  display: inline-flex;
  margin-top: 99px;
  padding-bottom: 0px;
  flex-direction: column;
  justify-content: center;
  gap: 100px;
}

.about-description {
  display: grid;
  gap: 25px;
}

.about-title {
  font-size: 40px;
  font-weight: 700;
  text-transform: uppercase;
}

.about-text {
  font-size: 20px;
}

.footer {
  display: flex;
  max-width: 1340px;
  width: 100%;
  margin: 180px auto 90px auto;
  justify-content: space-between;
}

.footer-addres {
  font-style: normal;
}

.contacts {
  max-width: 240px;
  width: 100%;
  line-height: 24px;
}

.contacts li {
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
}

.menu .menu-list-item {
  text-align: center;
  font-size: 18px;
}

.footer ul {
  list-style-type: none;
}

.footer-menu-link-active {
  text-decoration: none;
}

.socials {
  display: flex;
  justify-content: space-between;
  min-width: 240px;
}

.socials-img {
  height: 48px;
  width: auto;
}
